
{% extends 'base.html' %}
{% block content %}
<div class="col-sm-4 col-md-4"></div>
<div class="col-sm-4 col-md-4"><p style="color:green;">{{a.user.first_name}} {{a.user.last_name}}</p></div>
<div class="col-sm-4 col-md-4"></div>

{% if a.profpic %}
    <img  src="{{a.profpic.url }}" style="position:relative;right:250px;" width="300" height="200" alt="hai">
{% else %}
<p>No profile pic exist</p>
{%endif%}
<div>
    <form action="{%url 'posts:changeprof' %}" method="post" enctype="multipart/form-data">
        {% csrf_token %}
        <input type="file">
        <input type="submit">
    </form>
</div>

{% endblock %}