
    {% for a in news %}
    <div class="container ">
	    <div class=" jumbotron">
	    <h4 >{{a.userid.user.first_name|title}} {{a.userid.user.last_name|title}}<span>Posted {{a.pub_date|timesince}}ago</span></h4>
	    {% if a.feedpic %}
	    <div><img  style="postion;relative;float:right;" src="{{a.feedpic.url}}" width="200px" height="200" alt="No content"></div>
            {% endif %}
            <div class="an ">{{ a.title|title }}</div>
            <div class="h5 ">{{ a.content|title }} </div>
            <div id="likediv{{a.id}}">{% include 'posts/likes.html' %}</div>
            {% include 'posts/comment.html' %}

            <div id="flip{{forloop.counter}}">Comments<span class="caret"></span></div>
	        <div id="panel{{forloop.counter}}" style="display:none">

                <div id="comment_box{{forloop.counter}}">
                    {% if a.newsvalue_set.exists %}
                    {% for b in a.newsvalue_set.all %}
                <div id="box">{{b.commented|title}} {{b.comm_date|timesince}} ago<div id="comm">{{b.comment}}</div></div>
                {% endfor %}
                </div>
                {% else %}
                <p>no comments</p>
                {% endif %}

	         <script>
$(document).ready(function(){
    $("#flip{{forloop.counter}}").click(function(){
        $("#panel{{forloop.counter}}").slideToggle("slow");
    });
});



</script>
	        <!--<div id="box" >Rinson Chacko<div id="comm">This is my ddsdssssss</div></div>-->

	    </div>
	    </div>
	    </div>
    {% endfor %}

