
{% extends 'base.html' %}
{% block title %}Login{% endblock %}
{% block content %}
<style>
  .log {
     position:relative;
        top:px;
        padding:25px;
        border:solid 1px #ccff66;
        background-color:#ccff66;
        border-radius:10px;
}
</style>
<div class="col-md-4 col-sm-4 col-xs-12"></div>
    <div class="col-sm-4 col-md-4 col-xs-12 log">

       <h2>Login</h2>
  <form method="post">
    {% csrf_token %}
    {% for field in form %}
      <p>
        {{ field.label_tag }}
        {{ field }}
        {% if field.help_text %}
          <small style="color: grey;">{{ field.help_text }}</small>
        {% endif %}
        {% for error in field.errors %}
          <p style="color: red;">{{ error }}</p>
        {% endfor %}
      </p>
    {% endfor %}
    <button type="submit" class="btn btn-alert-success" >Login</button>
  </form>
  {% load socialaccount %}
              <form action="{% provider_login_url 'facebook' method='oauth2' %}">
    <input type="submit" value="LOGIN WITH FACEBOOK" class="btn btn-alert-danger"  />
</form>
   </div>
    </div>
    </div>
<div class="container-fluid" >
    <nav class="container-fluid navbar navbar-inverse navbar-fixed-bottom " >
        <div class="col-md-5"></div>
        <div class="col-md-2" style="color:white;align:center;padding:10px;">&copy;2017 Sayone newsfeed</div>
    </nav>
</div>
{% endblock %}
